aniso8601==4.1.0
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
confuse==0.5.0
Flask==1.0.2
flask-restplus==0.12.1
google-auth==1.6.3
gunicorn==19.9.0
hyperscan==0.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
kubernetes==9.0.0
MarkupSafe==1.1.0
marshmallow==2.19.2
mysqlclient==1.4.2.post1
oauthlib==3.0.1
prometheus-client==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
SQLAlchemy==1.2.18
SQLAlchemy-Utils==0.33.11
urllib3==1.25.2
websocket-client==0.56.0
Werkzeug==0.14.1
http://artifacts.kumina.nl/python/kubi_ecs_logger-0.0.5.tar.gz
